@font-face {
    font-family: "Rubik-Light";
    src: url("./Rubik-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Rubik-Regular";
    src: url("./Rubik-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("./Rubik-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Rubik-SemiBold";
    src: url("./Rubik-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("./Rubik-Bold.ttf") format("opentype");
}
