@import url('https://fonts.googleapis.com/css?family=Lato');

#Nav {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translate(150%) ;
    transition: transform 400ms;
}

#Nav.slideIn {
    transform: translateX(0);
}
#Nav.slideOut {
    transform: translateX(150%);
    position: absolute;

}

.Li {
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #000000
}

.selected {
    color: #DDDDDD;

}

@media screen and (min-width: 768px) {
    #Nav{
        display: flex;
        justify-content: flex-end;
    }
    .Li {
        padding: 0 5px 0 5px;
        display: inline;

    }
}

