@import url('https://fonts.googleapis.com/css?family=Lato');

#logo {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    position: absolute;
    display: inline;
    left: 5px;
    top: 5px;
}

@media screen and (min-width: 768px) {
    #logo{
      position: relative;
    }
}