.skills {
    display: flex;
    flex-direction: column;

    background-color: var(--color-lightGrey);

    @media (min-width: 768px) {
        padding: 1rem 3vw;
        width: calc(100% - 6vw);
        align-items: flex-start;

        flex-direction: row;
    }

    .skills_chart {
        padding: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            order: 1;
            justify-content: center;
            align-items: center;
            align-self: stretch;
        }
        .chart__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 1rem;

            @media (min-width: 768px) {
                padding: 1rem 3vw;
                width: calc(100% - 6vw);
                align-items: flex-start;
            }

            width: calc(100% - 2rem);
        }
    }

    .skills_description {
        @media (min-width: 768px) {
            order: 2;
            justify-content: center;
            align-items: flex-start;
            align-self: stretch;
        }
        display: flex;
        flex-direction: column;
        flex-direction: column;

        flex: 1;
        padding: 1rem;
    }
}
