html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-rubik-regular);
}

h1 {
  color: var(--color-text);
  font-size: var(--font-size-xxlarge);
  font-family: var(--font-family-rubik-medium);

  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: var(--font-size-xxxlarge);
  }
}

h2 {
  color: var(--color-text);
  font-size: var(--font-size-xlarge);
  font-family: var(--font-family-rubik-medium);

  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: var(--font-size-xxlarge);
  }
}

p {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: var(--font-size-xlarge);
  }
}
